<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="isAuth">
          <a routerLink="/recipes" class="nav-link" routerLinkActive="active"
            >Recipes</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
          <a routerLink="auth" class="nav-link">Authenticate</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="shopping-list" class="nav-link">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right dropdown">
        <li *ngIf="isAuth">
          <a
            style="cursor: pointer;"
            class="nav-link"
            id="logout"
            role="button"
            (click)="onLogout()"
          >
            Logout
          </a>
        </li>

        <li class="nav-item dropdown" *ngIf="isAuth">
          <a
            style="cursor: pointer;"
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item"
              style="cursor: pointer;"
              (click)="onFetchRecipes()"
              >Fetch</a
            >
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              style="cursor: pointer;"
              (click)="onSaveData()"
              >Save</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
