<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" (click)="onSelect('recipe')" class="nav-link">Recipes</a>
        </li>
        <li class="nav-item">
          <a href="#" (click)="onSelect('shopping-list')" class="nav-link"
            >Shopping List</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right dropdown">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Fetch</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Save</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
